<% i=1; @reports.each do |report| %>
  
  <script>pagination.push('#reports-<%=i%>');</script>
  <div data-role="page" id="reports-<%=i%>">
    
    <div data-role="header" data-position="fixed">

      <h1><%= image_tag '/images/logo.png' %></h1>

    </div>

    <div data-role="content">
      
      <h2 style="text-align:center"><%= report.date %></h2>
      
      <div class="piechart" id="id<%= report.id %>"></div>
      
      <script>
        $(function () {
          var pie = Raphael("id<%= report.id %>")
            .piechart(100, 100, 100, <%=j report.timers.map{|timer| timer['elapsed_time'].to_i}.to_s %>, <%= report.timers.map{|timer| timer['label']}.to_s.html_safe %>);
        });
      </script>

    </div>

  </div>

  <% i = i + 1 %>

<% end %>