<div data-role="page">

  <div data-role="header" data-position="fixed">

    <h1><%= image_tag '/images/logo.png' %></h1>

  </div>
  <div>&nbsp;</div>

  <div id="timers" data-role="content" class="ui-grid-a ui-content ui-sortable" role="main">
    <% current_user.timers.each do |timer| %>
      <div id="<%= timer.id %>" class="ui-block-b" data-id="<%= timer.id %>" data-label="<%= timer.label %>" data-icon="<%= timer.icon %>" class="timer" style="background:url(<%= timer.icon %>) <%= timer.color %> no-repeat center center; margin: 1%; width: 47%">
        <div class="timer">
          <div class="elapsed_time"><%= timer.elapsed_time %></div>
          <div class="active"><%= timer.is_active? %></div>
        </div>
      </div>
    <% end %>
  </div>
</div><!-- /page -->

<div>
  <h1>Reports</h1>
  <% @reports.each do |report| %>
    <%= report.inspect %>
  <% end %>
</div>

<script>
  $(function() {
    $('.timer').parent().click(function() {
      $.ajax({
        type: 'PUT',
        url: "/timers/" + $(this).data('id') + '.js'
      });
    });

    $( document ).bind( "swipeleft", function( event, data ){
      $.mobile.changePage( "/reports", { transition: "slide"} );
    }).bind( "swiperight", function( event, data ){
      $.mobile.changePage( "/", { transition: "slide", reverse:true} );
    });

  });
</script>
