<div data-role="page">

	<div data-role="header" data-position="inline">
		
		<h1><%= image_tag '/images/logo.png' %></h1>
		<a href="#" data-icon="add" class="ui-btn-right" class="no-text">Add</a>
	</div>
	
	<div id="timers" data-role="content">	
		Loading ...
	</div><!-- /content -->

<script id="timerTemplate" type="text/x-jquery-tmpl">
  <div data-id="${id}" data-label="${label}" data-icon="${icon}" class="timer" style="background:url(${icon}) no-repeat center center">
  </div>
</script>
<script>
  $(function(){
    var timers = [];
    <% current_user.timers.each do |timer| %>
      var timer = {
        id: '<%= timer.id %>',
        label: '<%= timer.label %>',
        icon: '<%= timer.icon %>',
        elapsed: '<%= timer.elapsed_time %>',
        active: <%= timer.is_active? %> 
      }
      timers.push(timer);
    <% end %>
    $("#timers").html($( "#timerTemplate" ).tmpl( timers ));
  });
</script>
</div><!-- /page -->