<div data-role="page">

  <div data-role="header" data-position="fixed">

    <h1><%= image_tag '/images/logo.png' %></h1>

  </div>
  <div>&nbsp;</div>

  <div id="timers" data-role="content" class="ui-grid-a ui-content ui-sortable" role="main">
    <% current_user.timers.each do |timer| %>
      <div class="ui-block-b" data-id="<%= timer.id %>" data-label="<%= timer.label %>" data-icon="<%= timer.icon %>" class="timer" style="background:url(<%= timer.icon %>) <%= timer.color %> no-repeat center center; margin: 1%; width: 47%">
        <div class="timer"><div class="close-btn"></div></div>
      </div>
    <% end %>
  </div>

</div><!-- /page -->